html, body{
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
#Songtitle {
    font-family: Lobster, Monospace;
}
#Logo{
  width: 100%;
}
#tempo-slider {
  width: 100px;
  margin: auto;
}
#tempo-slider .slider-selection {
  background: #BABABA;
}
#mHeader {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  transition: margin-left .5s;
}
#main {
    transition: margin-left .5s;
}
#song-name {
  margin-top: 10px;
  font-family: Lobster, Monospace;
  font-size: 28px;
  height: 50px;
  text-align: center;
}
#mArrows {
  position: fixed;
  margin-top: 75px;
  text-align: center;
  width: 99%;
  height: 60px;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: 2;
}
#mArrows img {
  margin-top: 5px;
  height: 50px;
}
#mTable {
  width: 100%;
  margin-top: 70px;
  text-align: center;
}
.nopad {
  padding: 0;
  margin: 0;
  float:left;
}
#adv-menu {
  display: none;
}
#mTable img {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
}
#mTable tr:not(.gap) {
  border: thin gray solid;
}
#mTable select {
  position: absolute;
  font-size: 18px;
  background-color: rgba(250, 250, 250, 0.4);
  display: none;
}
table {
  margin: auto;
  text-align: center;
}
td img {
  height: auto;
}
td {
  vertical-align: middle;
}
.faded {
  opacity: 0.5;
  filter: alpha(opacity=60); /* msie */
}
.gap {
  height: 80px;
}
.not-shown {
  visibility: hidden;
}
.mTop10 {
  margin-top: 10px;
}
 #index-main {
  width: 800px;
  min-width: 450px;
  height: 95%;
  min-height: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin gray solid;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 18px
 }


#crTable {
  display: none;
  position: fixed;
  width: 30%;
  height: 250px;
  margin-top: 80px;
  margin-left: 35%;
  padding: 20px;
  border: thin gray solid;
  z-index: 33;
  background-color: white;
}
#crTable td {
  text-align: left;
  border: thin gray solid;
  width: 25%;
}
#crTable th {
  width: 25%;
}
#crTable input {
  width: 100%;
}
